*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    width: 100%;
    background-image: url(img/bk.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
form{
    margin: 130px 0;
    padding: 30px 40px;
    background-color: white;
}
.headtext{
    margin: 10px 0;
}
button{
    text-align: center;
    padding: 0 10px;
    width: 350px;
    height: 65px;
    /* padding: 20px 150px; */
    border: 1px solid #ff4d00;
    border-radius: 7px;
    color: white;
    background-color: #ff4d00;
}
.input{
    font-size: 20px;
    width: 330px;
    padding: 10px 30px;
    border-radius: 7px;
    height: 65px;
}
.pa{
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
h2{
    font-size: 35px;
    margin: 20px 0;
}
@media screen and (max-width:767px) {
    .form{
        width: 90%;
    }
    .input{
        width: 90%;
    }
    button{
        width: 94%;
    }
    .pa{
        display: block;
    }
}